@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-style {
    @apply p-2 border rounded-md shadow-inner bg-gray-100 
           focus:outline-none focus:ring-2 focus:ring-blue-300;
  }
  .sidebar-icon {
    @apply relative flex items-center justify-center h-16 w-16 mx-auto bg-gray-700 
    text-white hover:bg-white hover:text-gray-800 rounded-3xl hover:rounded-xl 
    transition-all duration-300 ease-linear cursor-pointer;
  }
  .sidebar-text {
    @apply absolute w-auto p-2 m-2 min-w-max left-16
    rounded-md shadow-md
    text-white bg-gray-700
    text-xs font-bold
    transition-all duration-100 scale-0 origin-left;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
